.card-and-filter{
    min-height: 80vh;
    display: flex;
    justify-content: center;

    .filter-container{
        position: sticky;
        left: 0;
        top: 12.5rem;
        margin-right: 1rem;
        padding: 0 1.5rem;
        background: $card-background;
        border-radius: 5px;
        height: 19rem;
        display: flex;
        flex-direction: column;
        
        .form-control{
            padding: .5rem .4rem;
            margin-bottom: 1rem;
            font-size: .9rem;
            border: none;
            border-radius: 3px;
        }
        input[type="range"]{
            padding: .5rem 0 .4rem 0;
        }
    }
}

// Mobile
@media(max-width: $mobile-width){
    .card-and-filter{
        flex-direction: column;

        .filter-container{
            position: relative;
            top: 1rem;
            margin: 0rem 1rem 0rem 1rem;
        }
    }
}

// Tablet
@media(max-width: $tablet-width){
    .card-and-filter{
        flex-direction: column;

        .filter-container{
            position: relative;
            top: 1rem;
            margin: 2rem 1rem 5rem 1rem;
        }
    }
}

@media(max-width: $small-laptop-width){
    .card-and-filter{
        flex-direction: column;
        .filter-container{
            position: relative;
            margin: 2rem 1rem 2rem 1rem;
        }
    }
}