// Body
$body-bg: #f8fafc;
// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$container-height: 80vh;

// NAVBAR =================================
$navbar-height: 100px;
$navbar-color: #212121;

$red: #e3342f;

$main: #f3f3f3;
// $main: #85929E;
$primary: #F7BF00;
$dark: #333;
$deleteColor: #C80600;

$card-background: #3f3f3f;

// My Variables
// $favColor: #E2BC00;
$favColor: #ffae00;


// MEDIA WIDTHS =========================================
// Mobile
$mobile-width: 720px;

// Tablet
$tablet-width: 1136px;

$small-laptop-width: 1360px;

// Font size variables
$input-font-size: 1.1rem;