@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
// font-family: 'Oxygen', sans-serif;

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.container{
    max-width: 1280px;
    // position: relative;
    min-height: $container-height;
    margin: auto;
}
.navbar-container{
    width: 80%;
    margin: auto;
}

body{
    font-family: 'Oxygen', sans-serif;
    background: $main;
    color: black;
}

.py-1 { padding: 1rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.my-1 { margin: 1rem 0; }
.my-2 { margin: 2rem 0; }
.my-3 { margin: 3rem 0; }

.m-1 {margin: 1rem; }
.m-2 {margin: 2rem; }
.m-3 {margin: 3rem; }

// ==================== Feedbacks =====================
.invalid-feedback{
    color: $red;
    padding: .5rem 0;
    text-align: left;
}

// ======================= ALERTS ========================
.alert{
    width: 85%;
    margin: .3rem auto .3rem auto;
    text-align: center;
    padding: .75rem;
    border-radius: 10px;
    color: black;

    &-success{
        background: #76C341;
    }

    &-danger{
        color: white;
        background: #B90000;
    }
}

// =============== BTN =======================

.btn{
    display: inline-block;
    padding: .6rem 3rem;
    background: white;
    margin: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: 2px #F79600 solid;
    border-radius: 50px;
    outline: none;
    transition: ease .4s;

    &-primary{
        background: $primary;
        // background: transparent;

        &:hover{
            background: #F79600;
            border-color: $primary;
            transform: scale(1.075);
        }
    }

    &-confirm{
        background: #44D500;
        border-color: #2B8600;
        &:hover{
            border-color: #44D500;
            background: #2B8600;
            color: white;
            transform: scale(1.075);
        }
    }

    &-delete{
        background: $deleteColor;
        &:hover{
            transform: scale(1.075);
        }
    }

    &-modify{
        background: $favColor;
        color: black;
        &:hover{
            background: #F79600;
            border-color: $primary;
            transform: scale(1.075);
        }
    }
}


// INPUTS ====================

// ========= COLORS ==============
.primary-color{
    color: $primary;
}

.text-white{
    color: white;
}



// Pozitions ==============================
.text-center{
    text-align: center;
}

// MEDIA WIDTHS =========================================
// Mobile
$mobile-width: 720px;

// Tablet
$tablet-width: 1136px;

// The number of elements in cart
.noOfFoodsInCart{
    margin-left: .5rem;
    padding: .5rem;
    background: $favColor;
    color: $dark;
    border-radius: 50%;
    width: 13%;
    height: 9%;
    text-align: center;
}











