@import '../../variables';

.main-left-content{
    border-bottom: 2px solid $favColor;
    padding: 3rem;
    // flex: 1;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #222;
    align-items: flex-end;
    color: #FFF;
    .cld-image{
        img{
            object-fit: cover;
            width: 200px;
            border-radius: 50%;
        }
    }
    .left-title{
        text-align: right;
        font-size: 2.3rem;
        padding: 1.4rem 0;
    }
    .stack-icon{
        text-align: right;
        margin-bottom: 1rem;
        .icon-title{
            margin: .5rem 0;
            font-size: 1.1rem;
        }
        .svg-icon{
            color: #FFF;
            margin: .2rem 0.3rem;
            font-size: 2.4rem;
        }
    }
    .summary{
        margin-bottom: auto;
        max-width: 20rem;
        border: 1px solid $favColor;
        border-radius: 10px;
        padding: 1rem;
        &-header{
            font-size: 1.6rem;
            text-align: right;
        }
        &-body{
            text-align: justify;
            line-height: 1.35rem;
        }
    }
}

@media(max-width: $mobile-width){
    .grid-tooltip{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .tooltip{
            margin: auto;
        }        
    }
    .icon-title{
        text-align: center;
        margin-bottom: .5rem;
    }
    .main-left-content{
        width: auto;
        padding: 2rem;
        align-items: center;
        .left-title{
            text-align: center;
        }
        .summary{
            &-header{
                text-align: center;
                margin-bottom: 1.3rem;
            }
        }
    }
}