$menu-width: 170px;
.navbar{
    background-color: rgba($color: $navbar-color, $alpha: .85);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 0;
    position: sticky;
    z-index: 3;
    height: $navbar-height;
    transition: background-color .2s, box-shadow .2s;

    &:hover{
        background-color: rgba($color: $navbar-color, $alpha: 1);
        box-shadow: 2px 2px 15px $navbar-color;
    }
    .navbar-brand{
        color: white;
        font-size: 1.5rem;
        align-items: center;
    }
    // Right side of the NAV
    .navbar-nav{
        display: flex;
        flex-direction: row;
        // Navigation link, A-tag
        .nav-item{
            list-style: none;
            cursor: pointer;
            .nav-link{                
                padding: .7rem 1.4rem;
                margin: .15rem .5rem;
                font-size: 1.1rem;
                color: white;
                transition: all ease-in 0.3s;
                border-radius: 10px;
    
                &:hover{
                    background: #F7BF00;
                    color: $dark;
                }
            }            
        } 
        .dropdown{
            height: auto;
            &-menu{
                min-width: $menu-width;
                position: absolute;
                padding: 0 0;
                margin: .7rem 0;
                border-radius: 5px;
                background: $navbar-color;
                box-shadow: 2px 3px 20px $navbar-color;
                
                &-item{
                    color: white;
                    padding: 1rem .5rem;
                    min-height: 25px;
                    min-width: $menu-width;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    i{
                        margin-right: .7rem;
                        font-size: 1.2rem;                    
                    }

                    &:hover{
                        background: $primary;
                        color: $dark;
                        transition: all .4s;
                        cursor: pointer;
                    }
                }
            }
        }
    
    }    
    .navbar-toggler{
        display: none;
    }
} // NAVBAR END 

@media(max-width: $mobile-width){
    .navbar{
        z-index: 100;
        background-color: rgba($color: $navbar-color, $alpha: 1);
        position: fixed;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        .navbar-nav{ 
            flex-direction: column; 
            summary::-webkit-details-marker{
                display: none;
            }
            details{
                margin: 0;
            }            
            .nav-item{
                margin: 1.2rem 0;      
            }
            .dropdown{
                &-menu{
                    background: #111;
                    box-shadow: 2px 3px 20px #111;
                }
            }
        }
        .navbar-brand{
            font-size: 2rem;
            margin: 3.8rem 0 2rem 0;
        }
    }
}