// Intro Page (HEADER)
@import '../variables';
.main-header{
    height: 100vh;
    background: $dark url('../../../../img/header-img.jpg') no-repeat center center/cover;
    margin-top: calc(-#{$navbar-height});

    .main-title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        background: rgba($dark, $alpha: 0.55);

        h1{
            font-size: 3.9rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        p{
            font-size: 1.9rem;
            text-align: center;
            width: 50%;
        }
        .btn-group{
            text-align: center;
        }
    }
}

@media(max-width: $mobile-width){
    .main-header{
        margin-top: 0;
        .main-title{
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1.4rem;
                width: 85%;
            }
        }
    }
}