$menu-width: 170px;
$navbar-height: 100px;
.navbar{
    background: $dark;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 0;
    position: sticky;
    z-index: 3;
    height: $navbar-height;
    // padding: 1.8rem 0;
    opacity: .9;
    transition: opacity .2s, box-shadow .2s;

    &:hover{
        opacity: 1;
        box-shadow: 2px 2px 10px $dark;
    }
    .navbar-brand{
        color: white;
        font-size: 1.5rem;
        align-items: center;
        #navOpen{
            cursor: pointer;
            display: none;
        }
    }
    // Right side of the NAV
    .navbar-nav{
        display: flex;
        flex-direction: row;
        // Navigation link, A-tag
        .nav-item{
            list-style: none;
            cursor: pointer;
            .nav-link{                
                padding: .7rem 1.4rem;
                margin: .15rem .5rem;
                font-size: 1.1rem;
                color: white;
                transition: all ease-in 0.3s;
                border-radius: 10px;
    
                &:hover{
                    background: #F7BF00;
                    color: $dark;
                }
            }            
        }
          
        .dropdown{
            &:hover .dropdown-menu{
                display: block;
            }
            &-menu{
                display: none;
                min-width: $menu-width;
                position: absolute;
                padding: 0 0;
                margin: .7rem 0;
                border-radius: 5px;
                background: $dark;
                
                &-item{
                    color: white;
                    padding: 1rem .5rem;
                    min-height: 25px;
                    min-width: $menu-width;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    i{
                        margin-right: .7rem;
                        font-size: 1.2rem;                    
                    }

                    &:hover{
                        background: $primary;
                        color: $dark;
                        transition: all .4s;
                        cursor: pointer;
                        .noOfFoodsInCart{
                            background: $dark;
                            color: white;
                            transition: all .4s;
                        }

                    }
                }
            }
        }
    
    }    
    .navbar-toggler{
        display: none;
    }
} // NAVBAR END 



// The number of elements in cart
.noOfFoodsInCart{
    margin-left: .7rem;
    padding: .7rem;
    background: $favColor;
    font-size: 1.1rem;
    color: $dark;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
}

@media(max-width: $mobile-width){
    .open{
        display: flex !important;
        flex-direction: column !important;
    }  
    .navbar{
        flex-direction: column;
        opacity: 1;
        box-shadow: 1px 1px 10px $dark;
        .navbar-nav{
            display: none;  
            margin-top: 1rem;              
            .nav-item{
                margin: .7rem 0;
            }
        }
        .navbar-brand{
            font-size: 1.5rem;
            #navOpen{    
                display: inline-flex;           
                margin-left: 1rem;
                font-size: 1.8rem;
            }
        }
    }
}







